<div class="board-container">
  <table #board>
    <tr *ngFor="let i of rows; let row = index">
      <td
        *ngFor="let j of columns; let col = index"
        (click)="onClickCell($event, row, col)"
      >
        <p class="mine" *ngIf="table[row][col] === 'mine'">
          {{ showMines ? "*" : "" }}
        </p>
        <p>
          {{ table[row][col] !== "mine" ? table[row][col] : "" }}
        </p>
      </td>
    </tr>
  </table>
</div>
<div class="btn-container">
  <button class="reset-btn" (click)="resetBoard()">Reset Board</button>
</div>